<h1>My posts by <%= current_user.name %></h1>

<%#= @all_posts.inspect %>

<h2>Create new post</h2>
<%= form_for @new_post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>

  <%= f.hidden_field :user_id %>

  <%= f.submit %>
<% end %>

<ul>
  <% @all_posts.each do |post| %>
    <% if post.id #check if post has id => exist in db %>
      <li>
        <h4><%= post.title %></h4>
        <p>
          <%= post.content %>
        </p>

        <%= link_to "view", post_path(post) %>
        <%= link_to "edit", edit_post_path(post) %>
        <%= link_to "delete", post_path(post), method: :delete %>
      </li>
    <% end %>
  <% end  %>
</ul>



<%#= @new_post.inspect %>
