<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "partials/nav" %>

    <div class="container">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              <%= yield(:title) %>
            </h1>
          </div>
        </div>
      </section>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <section>
        <%= yield %>
      </section>
    </div>

    <%#= render "partials/nav" %>
    <footer class="footer">
      <div class="container">
        &copy; Bloggies 2017
      </div>
    </footer>
  </body>
</html>
